# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
venv/

# Telethon session files
*.session
*.session-journal

# Local files & folders
downloads/
files/
file_manifest.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# config file with secrets
config.py